extends layout

block content
  a(href='/')
    h1 books!
  
  button#addbook(
    type='button'
    onclick="location.href='/addbook'"
    ) Add Book
    
  table.books.datatable.table.table-striped.table-bordered(cellpadding='0', cellspacing='0', border='0')
    thead
      tr
        th Title
        th Author
        th Genre
    tbody 
      for book in books
        tr
          td
            a(href='/book/' + book.id)= book.title
          td= book.author
          td= book.genre
          
  script.
    $('.books').DataTable();
